:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2196f3;
  --mediumgrey: #2f303a;
  --lightgrey: #757575;
  --buttonbackground: #f5f4fa;
  --background: #e5e5e5;
  --darkgrey: #212121;
  --bordergrey: #ececec;
  --cardborder: #eeeeee;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --boxshadowcolor: rgba(0, 0, 0, 0.15);
  --boxshadowcolorone: rgba(0, 0, 0, 0.1);
  --boxshadowcolortwo: rgba(0, 0, 0, 0.08);
  --boxshadowcolorthree: rgba(0, 0, 0, 0.12);
  --boxshadowcolorfour: rgba(0, 0, 0, 0.14);
  --boxshadowcolorfive: rgba(0, 0, 0, 0.2);
  --boxshadowsix: rgba(0, 0, 0, 0.06);
  --boxshadowseven: rgba(0, 0, 0, 0.16);
  --color-icons: #afb1b8;
  --background-image: rgba(47, 48, 58, 0.4);
  --backdrop: rgba(0, 0, 0, 0.2);
  --background-card: rgba(33, 150, 243, 0.9);
  --border-signup: rgba(255, 255, 255, 0.3);
  --textarea-border: rgba(33, 33, 33, 0.2);
  --textarea-placeholder: rgba(117, 117, 117, 0.5);
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
.container__display-block {
  display: block;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0px 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0px 15px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--padding {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.section--background {
  background: var(--buttonbackground);
}
.section--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--darkgrey);
  line-height: 1.17;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
}
.title--padding {
  padding-bottom: 50px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  gap: 30px;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box__styles {
  background: var(--white);
  width: 270px;
  margin: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 1px 3px var(--boxshadowcolorthree), 0px 1px 1px var(--boxshadowcolorfour), 0px 2px 1px var(--boxshadowcolorfive);
          box-shadow: 0px 1px 3px var(--boxshadowcolorthree), 0px 1px 1px var(--boxshadowcolorfour), 0px 2px 1px var(--boxshadowcolorfive);
  border-radius: 0px 0px 4px 4px;
}
.box__padding {
  padding-bottom: 30px;
}
.box__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--darkgrey);
  text-align: center;
  margin: 30px 0px 10px 0px;
}
.box__description {
  font-size: 16px;
  color: var(--lightgrey);
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
  text-align: center;
}
.box__icons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.box__icons-styles {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--color-icons);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.box__icons-styles:hover, .box__icons-styles:focus {
  fill: var(--white);
  background-color: var(--blue);
  padding: 12px;
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: var(--black);
  margin: 0px;
  background: var(--white);
  margin: 0px;
  padding: 0px;
}

.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: var(--backdrop);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.board {
  width: 480px;
  height: 400px;
  background: var(--mediumgrey);
  margin: 0 auto;
  padding: 0px;
}
.board__photo {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--background-image)), to(var(--background-image))), url(../images/header@1-mobile.jpg);
  background-image: linear-gradient(to right, var(--background-image), var(--background-image)), url(../images/header@1-mobile.jpg);
  width: 480px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}
.board__button {
  font-family: "Roboto";
  width: 200px;
  height: 50px;
  background: var(--blue);
  -webkit-box-shadow: 0px 4px 4px var(--boxshadowcolor);
          box-shadow: 0px 4px 4px var(--boxshadowcolor);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.board__location {
  padding-top: 118px;
}
.board__title {
  font-weight: 900;
  font-size: 26px;
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

.box__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--white);
  border: 1px solid var(--color-icons);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
}
.box__image:hover, .box__image:focus {
  border: 1px solid var(--blue);
}
.box__image .box__image-styles {
  fill: var(--color-icons);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
}
.box__image:hover .box__image-styles, .box__image:focus .box__image-styles {
  fill: var(--blue);
}

.box__image-styles {
  margin: 0 auto;
  fill: var(--color-icons);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.box__image-styles:hover, .box__image-styles:focus {
  fill: var(--blue);
}

.cards-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.cards-set__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--white);
  width: 370px;
  height: 70px;
  background-color: var(--background-image);
  text-align: center;
  padding-top: 27px;
  position: absolute;
  right: 0;
  top: 224px;
}
.cards-set__position {
  position: relative;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--mediumgrey);
}

.main-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  text-decoration: none;
  line-height: 1.19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0px 25px 0px;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-logo__text {
  color: var(--blue);
}
.main-logo__text-bottom {
  color: var(--white);
}

.address {
  color: var(--white);
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  white-space: nowrap;
  margin-bottom: 9px;
  font-style: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact {
  font-style: normal;
  list-style-type: none;
  text-align: center;
}
.contact__margin {
  margin-bottom: 9px;
}
.contact__style {
  color: var(--footerlinks);
  text-decoration: none;
  line-height: 1.14;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.contact__style--color {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.contact__style--color:hover, .contact__style--color:focus {
  color: var(--blue);
}

.social-media {
  width: 206px;
  height: 80px;
  margin-top: 30px;
}
.social-media__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.social-media__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 10px;
  list-style-position: outside;
}
.social-media__icon {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--white);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.social-media__icon:hover, .social-media__icon:focus {
  fill: var(--white);
  background-color: var(--blue);
  padding: 12px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-form {
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.section-form__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section-form__flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.section-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid var(--border-signup);
  -webkit-filter: drop-shadow(0px 4px 4px var(--boxshadowcolor));
          filter: drop-shadow(0px 4px 4px var(--boxshadowcolor));
  border-radius: 4px;
  background: var(--mediumgrey);
  color: var(--white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  padding-left: 16px;
}
.section-form__button {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 42px;
}
.section-form__location-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.section-form__icon {
  fill: var(--white);
  margin-left: 24px;
}

.header {
  border-bottom: 1px solid var(--bordergrey);
}
.header__menu {
  margin-left: 273px;
}
.header__menu-styles {
  fill: var(--darkgrey);
}
.header__menu-styles:hover, .header__menu-styles:focus {
  fill: var(--blue);
}
.header__style {
  width: 480px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.main-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
  text-decoration: none;
  line-height: 1.19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0px 25px 0px;
  letter-spacing: 0.03em;
}
.main-logo__text {
  color: var(--blue);
}

.lorem {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images {
  width: 1170px;
  gap: 30px;
  padding: 0%;
  list-style-type: none;
  display: block;
  text-align: center;
}

.container-descriptions {
  font-family: "Roboto";
  width: 450px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--darkgrey);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.container-descriptions__text {
  width: 450px;
  font-size: 14px;
  color: var(--lightgrey);
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: left;
}

.lorem li > div {
  background: var(--buttonbackground);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102px;
}

.second-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  list-style-type: none;
}

.btn, .btn--sizefive, .btn--sizefour, .btn--sizethree, .btn--sizetwo, .btn--sizeone {
  font-family: "Roboto";
  background: var(--buttonbackground);
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.62;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
}
.btn:hover, .btn--sizefive:hover, .btn--sizefour:hover, .btn--sizethree:hover, .btn--sizetwo:hover, .btn--sizeone:hover, .btn:focus, .btn--sizefive:focus, .btn--sizefour:focus, .btn--sizethree:focus, .btn--sizetwo:focus, .btn--sizeone:focus {
  background-color: var(--blue);
  color: var(--white);
  -webkit-box-shadow: 0px 3px 1px var(--boxshadowcolorone), 0px 1px 2px var(--boxshadowcolortwo), 0px 2px 2px var(--boxshadowcolorthree);
          box-shadow: 0px 3px 1px var(--boxshadowcolorone), 0px 1px 2px var(--boxshadowcolortwo), 0px 2px 2px var(--boxshadowcolorthree);
}

.btn--sizeone {
  width: 121px;
  height: 38px;
}

.btn--sizetwo {
  width: 93px;
  height: 38px;
}

.btn--sizethree {
  width: 114px;
  height: 38px;
}

.btn--sizefour {
  width: 91px;
  height: 38px;
}

.btn--sizefive {
  width: 121px;
  height: 38px;
}

.card-container {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
}
.card-container__style {
  list-style-type: none;
  text-decoration: none;
}

.overlay:hover .overlay__card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.overlay__position {
  position: relative;
  overflow: hidden;
}
.overlay__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  padding-right: 45px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-card);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
}

.card {
  width: 370px;
  margin: 0px;
}
.card--interactive:focus, .card--interactive:hover {
  -webkit-box-shadow: 0px 1px 1px var(--boxshadowcolorthree), 0px 4px 4px var(--boxshadowsix), 1px 4px 6px var(--boxshadowseven);
          box-shadow: 0px 1px 1px var(--boxshadowcolorthree), 0px 4px 4px var(--boxshadowsix), 1px 4px 6px var(--boxshadowseven);
}

.card-description {
  border-left: 1px solid var(--cardborder);
  border-right: 1px solid var(--cardborder);
  border-bottom: 1px solid var(--cardborder);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.card-description__header {
  font-weight: 700;
  font-size: 18px;
  color: var(--darkgrey);
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 4px 24px;
}
.card-description__paragraph {
  font-size: 16px;
  color: var(--lightgrey);
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 24px;
}

.modal {
  position: relative;
  width: 528px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 3px var(--boxshadowcolorthree), 0px 1px 1px var(--boxshadowcolorfour), 0px 2px 1px var(--boxshadowcolorfive);
          box-shadow: 0px 1px 3px var(--boxshadowcolorthree), 0px 1px 1px var(--boxshadowcolorfour), 0px 2px 1px var(--boxshadowcolorfive);
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
  padding-right: 40px;
}
.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid var(--boxshadowcolorone);
  background-color: var(--white);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  cursor: pointer;
}
.modal__button:hover, .modal__button:focus {
  background-color: var(--white);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal__form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--darkgrey);
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--lightgrey);
  display: block;
  margin-bottom: 4px;
}
.modal__icon {
  fill: var(--darkgrey);
  position: relative;
  bottom: 30px;
  left: 15px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.modal__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid var(--textarea-border);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border, outline-color;
  transition-property: border, outline-color;
}
.modal__textarea::-webkit-input-placeholder {
  color: var(--textarea-placeholder);
}
.modal__textarea::-moz-placeholder {
  color: var(--textarea-placeholder);
}
.modal__textarea:-ms-input-placeholder {
  color: var(--textarea-placeholder);
}
.modal__textarea::-ms-input-placeholder {
  color: var(--textarea-placeholder);
}
.modal__textarea::placeholder {
  color: var(--textarea-placeholder);
}
.modal__textarea:focus, .modal__textarea:hover {
  border: 1px solid var(--blue);
  outline-color: var(--blue);
  outline: 1px;
}
.modal__input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--textarea-border);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border, outline-color;
  transition-property: border, outline-color;
}
.modal__input:focus, .modal__input:hover {
  border: 1px solid var(--blue);
  outline-color: var(--blue);
  outline: 1px;
}
.modal__input:focus + .modal__icon, .modal__input:hover + .modal__icon {
  fill: var(--blue);
}

.checkbox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.checkbox__hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.checkbox__icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 16px;
  height: 15px;
  border: 2px solid var(--darkgrey);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, background-image;
  transition-property: background-color, background-image;
}
.checkbox__icon:checked {
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-color: var(--blue);
}

.rules {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--lightgrey);
  display: inline;
}
.rules__blue {
  color: var(--blue);
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.form-button__style {
  width: 200px;
  height: 50px;
  background: var(--blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */