:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2196f3;
  --mediumgrey: #2f303a;
  --lightgrey: #757575;
  --buttonbackground: #f5f4fa;
  --background: #e5e5e5;
  --darkgrey: #212121;
  --bordergrey: #ececec;
  --cardborder: #eeeeee;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --boxshadowcolor: rgba(0, 0, 0, 0.15);
  --boxshadowcolorone: rgba(0, 0, 0, 0.1);
  --boxshadowcolortwo: rgba(0, 0, 0, 0.08);
  --boxshadowcolorthree: rgba(0, 0, 0, 0.12);
  --boxshadowcolorfour: rgba(0, 0, 0, 0.14);
  --boxshadowcolorfive: rgba(0, 0, 0, 0.2);
  --boxshadowsix: rgba(0, 0, 0, 0.06);
  --boxshadowseven: rgba(0, 0, 0, 0.16);
  --color-icons: #afb1b8;
  --background-image: rgba(47, 48, 58, 0.4);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: var(--black);
  margin: 0px;
  background: var(--white);
  margin: 0px;
  padding: 0px;
}

.style-header {
  width: 1200px;
  height: 80px;
  display: flex;
}

.border-menu {
  border-bottom: 1px solid var(--bordergrey);
}

.contact-style-top {
  display: flex;
  list-style-type: none;
  gap: 50px;
  padding: 32px 0px 32px 0px;
  margin-left: auto;
}

.second-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
  list-style-type: none;
}

.card-set {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-style {
  list-style-type: none;
  text-decoration: none;
}

.card-style-active:focus,
.card-style-active:hover {
  box-shadow: 0px 1px 1px var(--boxshadowcolorthree),
    0px 4px 4px var(--boxshadowsix), 1px 4px 6px var(--boxshadowseven);
}

h1 {
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set-two {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.description-style {
  border-left: 1px solid var(--cardborder);
  border-right: 1px solid var(--cardborder);
  border-bottom: 1px solid var(--cardborder);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

.card-size {
  width: 370px;
  margin: 0px;
}

.style-list {
  display: inline;
  list-style: none;
}

.board {
  height: 600px;
  background: var(--mediumgrey);
  margin: 0px;
  padding: 0px;
}

.background-photo {
  background-image: linear-gradient(
      to right,
      var(--background-image),
      var(--background-image)
    ),
    url(../images/teamphoto.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}

.board-button {
  font-family: "Roboto";
  width: 200px;
  height: 50px;
  background: var(--blue);
  box-shadow: 0px 4px 4px var(--boxshadowcolor);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.button-location {
}

.location-header-button {
  padding-top: 200px;
  padding-right: 0px;
  padding-bottom: 200px;
  padding-left: 0px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.board-button:hover,
.board-button:focus {
  background-color: var(--white);
  color: var(--blue);
}

.container-lorem-ipsum {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  gap: 30px;
}

.header-title {
  font-weight: 900;
  font-size: 44px;
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  color: var(--lightgrey);
  text-decoration: none;
  line-height: 1.14;
  font-style: normal;
  display: flex;
  white-space: nowrap;
}

.contact:hover,
.contact:focus {
  color: var(--blue);
}

.contact .icon-contact {
  fill: currentColor;
}

.contact-footer {
  color: var(--footerlinks);
  text-decoration: none;
  line-height: 1.14;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link-two:hover,
.link-two:focus {
  color: var(--blue);
}

.phone-footer {
  white-space: nowrap;
  font-style: normal;
}

.icon-contact:hover,
.icon-contact:focus {
  fill: var(--blue);
}

.contact:hover,
.contact:focus {
  color: var(--blue);
  text-decoration: none;
  line-height: 1.14;
}

.main-title-one {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--blue);
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-title-two {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  text-decoration: none;
  line-height: 1.19;
  display: flex;
  padding: 25px 0px 25px 0px;
  letter-spacing: 0.03em;
}

.main-title-three {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--white);
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.style-header-bottom {
  display: flex;
  margin-bottom: 20px;
  width: fit-content;
}

.mail-footer {
  margin-bottom: 9px;
  font-style: normal;
}

.menu-links {
  font-weight: 500;
  color: var(--black);
  border: none;
  line-height: 1.14;
  background-color: var(--white);
  display: flex;
  list-style-type: none;
  gap: 46px;
  padding: 32px 0px 32px 93px;

  letter-spacing: 0.02em;
}

.no-dot {
  list-style-type: none;
}

.no-padding-bottom {
  list-style-type: none;
}

.menu-links .link {
  color: var(--black);
  text-decoration: none;
}

.menu-links .link:hover,
.menu-links .link:focus {
  color: var(--blue);
}

.location {
  color: var(--white);
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  white-space: nowrap;
  margin-bottom: 9px;
  font-style: normal;
}

.bottom-style {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--mediumgrey);
}

.text-one {
  color: var(--lightgrey);
  line-height: 1.71;
  letter-spacing: 0.06em;
  white-space: nowrap;
}

.item-lorem-ipsum {
  width: 270px;
}

.third-header {
  font-weight: 700;
  font-size: 14px;
  color: var(--darkgrey);
  line-height: 1.17;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}

.second-header {
  font-weight: 700;
  font-size: 36px;
  color: var(--darkgrey);
  line-height: 1.16;
  padding-bottom: 50px;
  text-align: center;
}

.box-our-team {
  background: var(--buttonbackground);
}

.header-our-team {
  font-weight: 700;
  font-size: 36px;
  color: var(--darkgrey);
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.item-team {
  background: var(--white);
  width: 270px;
  margin: 0px 0px 0px 0px;
  box-shadow: 0px 1px 3px var(--boxshadowcolorthree),
    0px 1px 1px var(--boxshadowcolorfour), 0px 2px 1px var(--boxshadowcolorfive);
  border-radius: 0px 0px 4px 4px;
}

.card-position {
  display: flex;
  gap: 30px;
}

.item-team-center {
  display: block;
  align-items: center;
  justify-content: center;
  white-space: wrap;
  padding-bottom: 30px;
}

.name-style {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--darkgrey);
  text-align: center;
  margin: 30px 0px 10px 0px;
}

.description {
  font-size: 16px;
  color: var(--lightgrey);
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
  text-align: center;
}

.description-card {
  font-size: 16px;
  color: var(--lightgrey);
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 24px;
}

.fourth-header {
  font-weight: 700;
  font-size: 18px;
  color: var(--darkgrey);
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 4px 24px;
}

button:hover,
button:focus {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px var(--boxshadowcolorone),
    0px 1px 2px var(--boxshadowcolortwo), 0px 2px 2px var(--boxshadowcolorthree);
}

.section-no-bottom {
  padding-bottom: 0px;
}

.press-one {
  font-family: "Roboto";
  width: 121px;
  height: 38px;
  background: var(--buttonbackground);
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;

  line-height: 1.62;
  cursor: pointer;
}

.press-two {
  font-family: "Roboto";
  width: 93px;
  height: 38px;
  background: var(--buttonbackground);
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;

  line-height: 1.62;
  cursor: pointer;
}

.press-three {
  font-family: "Roboto";
  width: 114px;
  height: 38px;
  background: var(--buttonbackground);
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;

  line-height: 1.62;
  cursor: pointer;
}

.press-four {
  font-family: "Roboto";
  width: 91px;
  height: 38px;
  background: var(--buttonbackground);
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;

  line-height: 1.62;
  cursor: pointer;
}

.press-five {
  font-family: "Roboto";
  width: 121px;
  height: 38px;
  background: var(--buttonbackground);
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;

  line-height: 1.62;
  cursor: pointer;
}

.social-media-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
}

.social-media-style {
  display: flex;
  list-style-type: none;
  gap: 10px;
  list-style-position: outside;
}

.our-clients-style {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.lorem-ipsum-images {
  display: flex;
  list-style-type: none;
}

.photo-team {
  margin: 0 auto;
  background: rgba(47, 48, 58, 0.4);
}

.icon-contact {
  fill: var(--blue);
}

.icon-lorem-background {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.icon-lorem {
  margin: 25px 100px 25px 100px;
}

.box-icon-clients {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--white);
  border: 1px solid var(--color-icons);
  border-radius: 4px;
}

.box-icon-clients .icon-clients {
  fill: var(--color-icons);
}

.box-icon-clients:hover,
.box-icon-clients:focus {
  border: 1px solid var(--blue);
}

.box-icon-clients:hover .icon-clients,
.box-icon-clients:focus .icon-client {
  fill: var(--blue);
}

.icon-clients {
  margin: 0 auto;
  fill: var(--color-icons);
}

.icon-clients:hover,
.icon-clients:focus {
  fill: var(--blue);
}


.team-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-social-media {
 width: 44px;
 height: 44px;
  padding: 12px;
  fill: var(--color-icons);
  border-radius: 50%;
}



.icon-social-media-footer {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--white);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-social-media:hover,
.icon-social-media:focus {
  fill: var(--white);
  background-color: var(--blue);
  padding: 12px;
  border-radius: 50%;
}

.icon-social-media-footer:hover,
.icon-social-media-footer:focus {
  fill: var(--white);
  background-color: var(--blue);
  padding: 12px;
  border-radius: 50%;
}

.icon-contact {
  fill: var(--lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.contact-socials {
  display: flex;
}

.socials {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
}

.logo-contact {
  display: block;
}
