.backdrop {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: var(--backdrop);
    align-items: center;
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  
  
  