    .box__image {
    display: flex;
    align-items: center;
    width: 170px;
    height: 92px;
    background-color: var(--white);
    border: 1px solid var(--color-icons);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, fill;

    &:hover,
    &:focus {
    border: 1px solid var(--blue);
    }

   & .box__image-styles {
    fill: var(--color-icons);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, fill;
    }

   &:hover .box__image-styles,
   &:focus .box__image-styles {
    fill: var(--blue);
    }
  }
  
  .box__image-styles {
    margin: 0 auto;
    fill: var(--color-icons);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;

    &:hover,
    &:focus {
    fill: var(--blue);
    }
  }

 





  
  
  // .box__image {
  //   display: flex;
  //   align-items: center;
  //   width: 170px;
  //   height: 92px;
  //   background-color: var(--white);
  //   border: 1px solid var(--color-icons);
  //   border-radius: 4px;
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  //   transition-property: border, fill;

  //   &:hover,
  //   &:focus {
  //   border: 1px solid var(--blue);
  //   }

  //  & .box__image-styles {
  //   fill: var(--color-icons);
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  //   transition-property: border, fill;
  //   }

  //  &:hover .box__image-styles,
  //  &:focus .box__image-styles {
  //   fill: var(--blue);
  //   }
  // }
  
  // .box__image-styles {
  //   margin: 0 auto;
  //   fill: var(--color-icons);
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  //   transition-property: fill;

  //   &:hover,
  //   &:focus {
  //   fill: var(--blue);
  //   }
  // }

 




