.cards-set {
  display: flex;
  gap: 30px;
  list-style-type: none;

  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--white);
    width: 370px;
    height: 70px;
    background-color: var(--background-image);
    text-align: center;
    padding-top: 27px;
    position: absolute;
    right: 0;
    top: 224px;
  }

  &__position {
    position: relative;
  }
}