
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 0px;
    padding: 0px;
  }
  
  img {
    display: block;
    padding: 0;
    margin: 0;
  } 

  body {
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 14px;
    color: var(--black);
    margin: 0px;
    background: var(--white);
    margin: 0px;
    padding: 0px;
  }
