.header {
  border-bottom: 1px solid var(--bordergrey);
}

.header__style {
  width: 1200px;
  height: 80px;
  display: flex;
}

.main-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  text-decoration: none;
  line-height: 1.19;
  display: flex;
  padding: 25px 0px 25px 0px;
  letter-spacing: 0.03em;
}

.main-logo__text {
  color: var(--blue);
}

.header__nav {
    font-weight: 500;
    color: var(--black);
    border: none;
    line-height: 1.14;
    background-color: var(--white);
    display: flex;
    list-style-type: none;
    gap: 46px;
    padding: 32px 0px 32px 93px;
    letter-spacing: 0.02em;
  }
  
  .header__nav .header__nav-link {
    color: var(--black);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  
  .header__nav .header__nav-link:hover,
  .header__nav .header__nav-link:focus {
    color: var(--blue);
  }
  
  .header__nav-link {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  .header__nav-link--border {
    position: relative;
  }

  .header__nav-link--border::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--blue);
    border-radius: 2px;
    top: 45px;
    color: var(--blue);
  }
  
  .header__nav-link--active {
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
  }
  
  .header__nav-link--active:hover::after,
  .header__nav-link--active:focus::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    border-radius: 2px;
    top: 45px;
  }  
  
  .header__nav .header__nav-link--color {
    color: var(--blue);
  }

  .header__contact {
    display: flex;
    list-style-type: none;
    gap: 50px;
    padding: 32px 0px 32px 0px;
    margin-left: auto;
  }

  .header__contact-style {
    font-weight: 500;
    font-size: 14px;
    color: var(--lightgrey);
    text-decoration: none;
    line-height: 1.14;
    font-style: normal;
    display: flex;
    white-space: nowrap;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  
  .header__contact-style:hover,
  .header__contact-style:focus {
    color: var(--blue);
  }
  
  .header__contact-style .header__contact-icon {
    fill: currentColor;
  }

  .header__contact-icon:hover,
.header__contact-icon:focus {
  fill: var(--blue);
}

.header__contact-style:hover,
.header__contact-style:focus {
  color: var(--blue);
  text-decoration: none;
  line-height: 1.14;
}

.header__contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  