.lorem {
 align-items: center;
 justify-content: center;
 display: flex;
 
}

.images {
    width: 1170px;
    gap: 30px;
    padding:0%;
    list-style-type: none;
    display: block;
    text-align: center;

  }

  .container-descriptions {
    font-family: "Roboto";
   width: 450px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   color: var(--darkgrey);
   letter-spacing: 0.03em;
   margin-bottom: 10px;

    &__text {
      width: 450px;
      font-size: 14px;
      color: var(--lightgrey);
      line-height: 1.71;
      letter-spacing: 0.03em;
      margin-bottom: 30px;
      text-align: left;
    }
  }

  .lorem li > div {
    background: var(--buttonbackground);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 102px;
  }
  
  
  
 

 


// .lorem {
//  align-items: center;
//     justify-content: center;
    
//     display: flex;
 
// }

// .images {
//     width: 1170px;
//     gap: 30px;
//     padding:0%;
//     list-style-type: none;
//     display: flex;

//   }

//   .container-descriptions {
//     font-family: "Roboto";
//    width: 270px;
//    font-weight: 700;
//    font-size: 14px;
//    line-height: 1.14;
//    color: var(--darkgrey);
//    letter-spacing: 0.03em;
//    margin-bottom: 10px;

//     &__text {
//       width: 270px;
//       font-size: 14px;
//       color: var(--lightgrey);
//       line-height: 1.71;
//       letter-spacing: 0.03em;
//       margin-bottom: 30px;
//       text-align: left;
//     }
//   }

//   .lorem li > div {
//     background: var(--buttonbackground);
//     border-radius: 4px;
//     margin-bottom: 30px;
//     padding: 25px 102px;
//   }
  
  
  
 

 