.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section--padding {
    padding-bottom: 0px;
  }
  
  .container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  } 

  .images {
    display: flex;
    list-style-type: none;
  }

  .images__styles {
    width: 270px;
    height: 120px;
    background: var(--buttonbackground);
    border-radius: 4px;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .images__styles-margin {
    margin: 25px 100px 25px 100px;
  }

  .container-descriptions {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 30px;
  }
  
  .container-descriptions__width {
    width: 270px;
  }
  
  .container-descriptions__header {
    font-weight: 700;
    font-size: 14px;
    color: var(--darkgrey);
    line-height: 1.17;
    letter-spacing: 0.06em;
    padding-bottom: 10px;
  }

  .container-descriptions__text {
    color: var(--lightgrey);
    line-height: 1.71;
    letter-spacing: 0.06em;
    white-space: nowrap;
  }
