.our-team {
display: flex;
list-style-type: none;
align-items: center;
row-gap: 30px;
gap: 30px;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;

& li {
  flex-basis: 100%;
}


    &__styles {
    background: var(--white);
    width: 100%;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 1px 3px var(--boxshadowcolorthree),
      0px 1px 1px var(--boxshadowcolorfour), 0px 2px 1px var(--boxshadowcolorfive);
    border-radius: 0px 0px 4px 4px;
    }

    &__width-height {
      width: 100%;
      height: auto;
      
      
    }

    &__padding {
    padding-bottom: 30px;
    }

    &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--darkgrey);
    text-align: center;
    margin: 30px 0px 10px 0px;
    }

    &__description {
    font-size: 16px;
    color: var(--lightgrey);
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    }

    &__icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: fit-content;
  margin: 0 auto;
    }

    &__icons-styles {
    width: 44px;
    height: 44px;
    padding: 12px;
    fill: var(--color-icons);
    border-radius: 50%;
    display: flex;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, background-color;
     &:hover,
     &:focus {
       fill: var(--white);
       background-color: var(--blue);
       padding: 12px;
       border-radius: 50%;
    }}}


    @media screen and (min-width: 768px) {
      .our-team li {
        flex-basis: calc((100% - 30px)/2);
      }
      .our-team__icons {
        margin: 0 auto;
      }}

    @media screen and (min-width: 1200px) {
      .our-team {
      flex-wrap: nowrap;
      }
      &__icons {
        margin: 0 auto;
      }}