.title-what-we-do {
  display: none;
}

.cards-set {
  display: none;
}

@media screen and (min-width: 768px) {

.title-what-we-do {
  display: none;
}

.cards-set {
  display: none;
}}

@media screen and (min-width: 1200px) {

.title-what-we-do {
  display: flex;
  font-weight: 700;
  font-size: 28px;
  color: var(--darkgrey);
  line-height: 1.17;
  padding-bottom: 50px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  justify-content: center;
  }

.cards-set {
  display: flex;
  gap: 30px;
  list-style-type: none;
  justify-content: center;

  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--white);
    width: 370px;
    height: 70px;
    background-color: var(--background-image);
    text-align: center;
    padding-top: 27px;
    position: absolute;
    right: 0;
    top: 224px;
  }

  &__position {
    position: relative;
  }
}}