.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px;

   &__display-block {
    display: block;
  }
}

 .section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--padding {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  &--background {
    background: var(--buttonbackground);
  }

  &--center {
    align-items: center;
    justify-content: center;
  }}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--darkgrey);
  line-height: 1.17;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;

  &--padding {
    padding-bottom: 50px;
  }
}


  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 0px;
    padding: 0px;
  }
  
  img {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  } 

  body {
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 14px;
    color: var(--black);
    margin: 0px;
    background: var(--white);
    margin: 0px;
    padding: 0px;
  }

 
 
 


@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 15px;
    margin: 0px;
  }
  .section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--padding {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  &--background {
    background: var(--buttonbackground);
  }

  &--center {
    align-items: center;
    justify-content: center;
  }}}

  

@media screen and (min-width: 1200px) {
 .container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;

   &__display {
    display: flex;
  }

   &__display-block {
    display: block;
    justify-content: left;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;

  &--padding {
    padding-bottom: 0px;
}}}

  
