.modal__button {
    position: absolute;
    right: 8px;
    top: 8px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 1px solid var(--boxshadowcolorone);
      background-color: var(--white);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: background-color;
      cursor: pointer;
    }
    
    .modal__button:hover,
    .modal__button:focus {
      background-color: var(--white);
      box-shadow: none;
    }