.modal__form {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-top: 40px;
    margin-bottom: 12px;
  }

.modal__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--lightgrey);
    display: block;
    margin-bottom: 4px;
  }

.modal__input:focus,
.modal__input:hover {
  border: 1px solid var(--blue);
  outline-color: var(--blue);
  outline: 1px;
}

.modal__input:focus + .modal__icon,
.modal__input:hover + .modal__icon {
  fill: var(--blue);
}

.modal__icon {
    fill: var(--darkgrey);
    position: relative;
    bottom: 30px;
    left: 15px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  .modal__textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid var(--textarea-border);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: block;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, outline-color;
  }
  
  .modal__textarea::placeholder {
    color: var(--textarea-placeholder);
  }

  .modal__textarea:focus,
.modal__textarea:hover {
  border: 1px solid var(--blue);
  outline-color: var(--blue);
  outline: 1px;
}

.checkbox {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .checkbox__hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .checkbox__icon:checked {
    border: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-color: var(--blue);
  }
  
  .checkbox__icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 15px;
    border: 2px solid var(--darkgrey);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, background-image;
  }

  .rules {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--lightgrey);
    display: inline;
  }
  
  .rules__blue {
    color: var(--blue);
  }

  .form-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .form-button__style {
    width: 200px;
    height: 50px;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white);
    cursor: pointer;
    
  }
  
  