:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #2196f3;
    --mediumgrey: #2f303a;
    --lightgrey: #757575;
    --buttonbackground: #f5f4fa;
    --background: #e5e5e5;
    --darkgrey: #212121;
    --bordergrey: #ececec;
    --cardborder: #eeeeee;
    --footerlinks: rgba(255, 255, 255, 0.6);
    --boxshadowcolor: rgba(0, 0, 0, 0.15);
    --boxshadowcolorone: rgba(0, 0, 0, 0.1);
    --boxshadowcolortwo: rgba(0, 0, 0, 0.08);
    --boxshadowcolorthree: rgba(0, 0, 0, 0.12);
    --boxshadowcolorfour: rgba(0, 0, 0, 0.14);
    --boxshadowcolorfive: rgba(0, 0, 0, 0.2);
    --boxshadowsix: rgba(0, 0, 0, 0.06);
    --boxshadowseven: rgba(0, 0, 0, 0.16);
    --color-icons: #afb1b8;
    --background-image: rgba(47, 48, 58, 0.4);
    --backdrop: rgba(0, 0, 0, 0.2);
    --background-card: rgba(33, 150, 243, 0.9);
    --border-signup: rgba(255, 255, 255, 0.3);
    --textarea-border: rgba(33, 33, 33, 0.2);
    --textarea-placeholder: rgba(117, 117, 117, 0.5);
  }

  